.hero_page_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5;
}
.hero_page_main p {
  color: #fff;
}
.event_name {
  font-size: 65px;
  font-weight: 800;
  text-align: center;
}
.event_year {
  color: #29a0d3;
}
.event_tagline {
  font-size: 19px;
  font-weight: 500;
  font-style: italic;
  margin-top: -28px;
  text-transform: uppercase;
}
.hero_page_main {
  display: flex;
  transform: translate(0%, 80%);
}
.hero_title_wrapper {
  align-self: center;
  margin-left: 15px;
}
.hero_title_wrapper {
  flex-grow: 2;
}
.scroll_down {
  transform: rotate(270deg);
  display: inline-block;
  color: #fff;
  position: absolute;
  left: -70px;
  margin-top: 10rem;
  font-size: 1rem;
  letter-spacing: 4px;
}
.hero_socials {
  transform: rotate(270deg);
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -60px;
  margin-top: 10rem;
  font-size: 1.5rem;
  cursor: pointer;
}
#myCarousel,
.hero-img {
  height: 100vh;
  min-height: 750px;
  overflow: hidden;
  object-fit: cover;
}
#myCarousel .carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
}

.hero-wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  background-color: #000;
  opacity: 0.7;
  z-index: 3;
}
.btn-section {
  margin-top: 100px;
}
.hero-button {
  text-decoration: none;
  color: #fff;
  background-color: #29a0d3;
  margin: 8px;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 20px;
  border-style: none;
  text-transform: uppercase;
}
.hero-button:hover {
  background-image: linear-gradient(to right, #29a0d3, hsl(280, 87%, 65%));
  color: #fff;
}
@media (max-width: 460px) {
  .hero_page_main {
    transform: translate(0%, 100%);
  }
  .event_name {
    font-size: 55px;
  }
  .event_tagline {
    font-size: 16px;
  }
  .scroll_down,
  .hero_socials {
    display: none;
  }
}
