@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg-container {
  margin:  auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* background-color: aqua; */
}
.left {
  width: 40%;
  height: 300px;
  background: url(https://ik.imagekit.io/72bccx2bu/AVINAS.jpeg)
    no-repeat center / cover;
  border-radius: 50%;
  z-index: 10;
}
.right {
  width: 100%;
  min-height: 400px;
  background-color: #29A0D3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
  padding-left: 20%;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.content{
    margin-left: 15%;
    font-family: "Poppins";
    text-align: left;
}

@media only screen and (max-width: 768px) {
  .msg-container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 80%;
    z-index: 10;
  }
  .right {
    width: 100%;
    margin: 0;
    padding: 5%;
    padding-top: 120px;    
    margin-top: -110px;
    
  }
  .content{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2px;
    text-align: center;
}
}


@media (min-width:769px) and (max-width: 1200px) {
  .msg-container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 40%;
    z-index: 10;
    padding: 20px;
    background-color: #29A0D3;
  }
  .right {
    width: 80%;
    margin: 0;
    padding: 8%;
    padding-top: 120px;    
    margin-top: -110px;
  }
  .content{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
}
