.navbar.transparent {
  transition: all 0.6s ease-in-out;
  background-color: transparent;
}
.navbar.solid {
  transition: all 0.6s ease-in-out;
  background-color: #423f3e;
}
.navbar.solid .navbar-menu {
  color: #fff;
}
.navbar.solid .navbar-menu:hover,
.navbar-menu:hover {
  color: #29a0d3;
}
.navbar-menu {
  color: #2e2727;
  font-weight: 500;
}
.register-button {
  border-radius: 30px;
  background-color: #29a0d3;
  font-weight: 500;
  border: none;
}
.register-button:hover {
  background-image: linear-gradient(to right, #29a0d3, hsl(280, 87%, 65%));
}
@media (min-width: 768px) {
  .navbar-menu {
    margin-left: 40px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-menu::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background-color: #29a0d3;
    bottom: 0;
  }
  .navbar-menu:hover::before {
    transition: all 0.3s ease;
    width: 100%;
  }
  .navbar-menu-button {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .navbar-menu,
  .navbar-menu-button {
    color: #fff;
    background-color: #423f3e;
    border: 0;
  }
}
