.navbar.transparent {
  transition: all 0.6s ease-in-out;
  background-color: transparent;
}
.navbar.solid {
  transition: all 0.6s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 0px 8px #808080;
}
.navbar .navbar-menu {
  color: #fff;
  font-weight: 500;
}
.navbar.solid .navbar-menu {
  color: #131313;
}
.navbar-menu:hover {
  color: #29a0d3 !important;
}
.nav-link .register-button {
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: 500;
}
.navbar.solid .nav-link .register-button {
  border-color: #131313;
  color: #131313;
}
.nav-link .register-button:hover {
  border: none;
  padding: 8px 14px;
  background-image: linear-gradient(to right, #29a0d3, hsl(280, 87%, 65%));
  color: #fff !important;
}

@media (min-width: 768px) {
  .navbar-menu {
    margin-left: 40px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-menu::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    background-image: linear-gradient(to right, #29a0d3, hsl(280, 87%, 65%));
    bottom: -10px;
    border-radius: 6px;
  }
  .navbar-menu:hover::before {
    transition: all 0.4s ease-out;
    width: 100%;
  }
  .register-button {
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .nav-link {
    margin: 8px auto;
  }
  .navbar-menu,
  .navbar-menu-button {
    color: #fff;
    border: 0;
  }
}

.html{
  overflow-x: hidden;
}
