/* Sponsor container */
.sponsors-h h2 {
  font-size: 40px;
  font-weight: 700;
  background: -webkit-linear-gradient(left, var(--pink), var(--lpink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.sponsor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Sponsor cards */
.sponsor-card {
  width: 300px;
  height: 250px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* Sponsor card images */
.sponsor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

/* Hover effect */
.sponsor-card:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 468px) {
  .sponsor-card {
    width: 45vw;
    height: 140px;
  }
}
